* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

.days_goto_seefiles {
  display: flex;
  flex-direction: row;
}

canvas {
  width: 100%;
  height: 100%;
}

/* .thumnail

.thumnail + .thanks_msg */

/* .thumnail + span + .thumnail_msg {
  
} */

.thumnail > span > input {
  display: none;
}

.thumnail > span > input + label {
  display: block;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
} 

.thumnail > span > input + label > em {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 30px; 
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
}