* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

.nav_bar {
  position: fixed;
  top: 30px;
  display: flex;
  width: 100vw;
  height: 27px;
  padding: 0.5px 0 0.5px 0;
  overflow: scroll;
  border-bottom: 1px solid black;
  background: #fffefa;
  z-index: 50;
  opacity: 0;
  max-height: 0px;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.nav_bar > span {
  flex-shrink: 0;
  width: calc(50vw * 2 / 3);
  height: 17px;
  margin: 0 calc(50vw / 6) 0 calc(50vw / 6);
  opacity: 0.2;
  transition: all .6s;
}

.nav_bar > span.focus {
  opacity: 1;
}

.nav_bar > span[id*="nav"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  font-size: xx-small;
  font-weight: 800;
  align-self: center;
}
.nav_bar > span[id*="nav"] > span {
  width: calc(50vw * 2 / 3);
  text-align: center;
}

#days {
  margin-top: 100px;
  background: #fffefa;
}

header {
  position: fixed;
  top: 0;
  padding-top: 5px;
  background: #fffefa;
  width: 100%;
  height: 25px;
  z-index: 100;
}

header > hr {
  border: none;
  border-top: 1px black solid;
}

header.scrollTop {
/*   filter: opacity(0.5); */
}

header > #headerMsg {
  width: 100%;
  position: relative;
}

#headerMsg > h5 {
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: center;
}

header > img {
  margin-left: 5px;
  width: 20px;
}

header > #headerMsg > img {
  position: absolute;
  transform: translate(calc(100vw - 50px));
  width: 20px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}

h2 {
  font-size: xx-large;
  margin-left: 40px;
  width: fit-content;
  font-family: 'Nanum Myeongjo', serif;
}

/* .morning > h2 {
  background: linear-gradient(to right, rgb(0 149 255) 10%, #8f22ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8f22ff;
}

.afternoon > h2 {
  background: linear-gradient(to right, rgb(255, 57, 84), #f89452);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #9c27b0;
} */

#dev_members {
/*   height: max-content; */
  margin-top: 200px;
  background: #0d1011;
  color: #fffefa;
  padding: 20px 10px 8px 10px;
}

#dev_members > #special_thanks > h5 {
  text-align: right;
}

#dev_members > div > h5:nth-child(1) {
  font-weight: 400;
  margin-bottom: 6px;
}

#dev_members > div > h5:nth-child(2) {
  font-family: 'Nanum Myeongjo', serif;
  word-break: keep-all;
}

.thanks_msg {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.thumnail_img {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: relative;
}

h4 > span {
  font-size: x-large;
}

span[id*="일차"] > span > div[id*="pdf"]:last-child > div {
  margin-bottom: 20px;
}

div > img {
  width: 100%;
}

.thumnail > span > input {
  display: none;
}

.thumnail > span > input + label {
  display: block;
  padding: 20px;
/*   background: rgba(0, 255, 255, 0.1); */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  position: relative;
} 

.thumnail > span > input + label > em {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 30px; 
  height: 30px;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-image: url('/circle-chevron.png');
  background-size: 30px;
  transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
}

.thumnail > span > input + label.checked > em {
  transform: translate(0, -50%) rotateZ(180deg);
}

.thumnail + div {
  max-height: 0;
  transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
  overflow: hidden;
}
