* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

#days {
  margin-top: 100px;
}

header {
  position:fixed;
  top: 0;
  margin-top: 5px;
  margin-left: 5px;
}

header.scrollTop {
  
}

header > img {
  width: 20px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-top: 30px;
}

h2 {
  font-size: xx-large;
  margin-left: 40px;
  width: fit-content;
  font-family: 'Nanum Myeongjo', serif;
}

/* .morning > h2 {
  background: linear-gradient(to right, rgb(0 149 255) 10%, #8f22ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8f22ff;
}

.afternoon > h2 {
  background: linear-gradient(to right, rgb(255, 57, 84), #f89452);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #9c27b0;
} */

.thanks_msg {
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.7);
}

h4 > span {
  font-size: x-large;
}

header > #headerMsg {
  position: absolute;
  width: 100%;
}

h5{
  text-align: center;
  flex-grow: 1;
}

span[id*="일차"] > span > div[id*="pdf"]:last-child > div {
  margin-bottom: 20px;
}

div > img {
  width: 100%;
}

.thumnail > span > input {
  display: none;
}

.thumnail > span > input + label {
  display: block;
  padding: 20px;
/*   background: rgba(0, 255, 255, 0.1); */
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  position: relative;
} 

.thumnail > span > input + label > em {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 30px; 
  height: 30px;
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  background-image: url('/circle-chevron.png');
  background-size: 30px;
  transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
}

.thumnail > span > input + label.checked > em {
  transform: translate(0, -50%) rotateZ(180deg);
}

.thumnail + div {
  max-height: 0;
  transition: all 0.35s cubic-bezier(0.83, 0, 0.17, 1);
  overflow: hidden;
}